.form-container {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	max-width: 95%;
	min-height: 400px;
	position: relative;
	width: 500px;
}

.form-header {
	font-size: 14px;
	padding: 20px;
	text-align: center;
}

.step-container {
	margin: 20px;
}

.step-controls {
	align-self: flex-end;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	position: absolute;
	width: 100%;
}

.step-controls .btn {
	flex-grow: 1;
	min-width: 50%;
}

.form-finished {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	justify-content: center;
	text-align: center;
}

.form-finished h2 {
	margin-bottom: 40px;
}

.finish-transition-appear {
	opacity: 0.01;
	transform: translateY(-40px);
}

.finish-transition-appear.finish-transition-appear-active {
	opacity: 1;
	transform: translateY(0);
	transition: all 200ms ease-out;
}

.form-group {
	text-align: center;
	color: #FFF;
}

.form-control {
	border-width: 0;
}

.btn-next {
	background-color: #fc4a1a;
	color: #FFF;
}

.rc-slider-track {
	background-color: #fc4a1a;
}

.rc-slider-handle, .rc-slider-dot-active {
	border-color: #fc4a1a;
}

.rc-slider-handle:hover {
	border-color: #ff6a41;
}

.slider-legend {
	display: flex;
	font-size: 12px;
	font-weight: 100;
	justify-content: space-between;
}

.step-transition-appear {
	opacity: 0.01;
	transform: translateX(20px);
}

.step-transition-appear.step-transition-appear-active {
	opacity: 1;
	transform: translateX(0);
	transition: all 300ms ease-out;
}
