.step-progress {
	padding-bottom: 10px;
}

.step-progress ol {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
}

.step-progress-item {
	align-items: center;
	display: flex;
	opacity: 0.6;
	transition: all;
}

.step-progress-item .indicator {
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid #FFF;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 10px;
	transition: all 300ms;
	width: 20px;
}

.step-progress-item-current .indicator {
	background-color: rgba(255, 255, 255, 0.5);
}

.step-progress-item-done {
	opacity: 1;
}

.step-progress-item-done .indicator {
	background-color: #FFF;
}

.step-progress .separator {
	background-color: #FFF;
	display: inline-block;
	height: 1px;
	width: 50px;
}
