body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.dogtrot {
	align-items: center;
	background: #fc4a1a;
	background: -webkit-linear-gradient(25deg, #f7b733, #fc4a1a);
	background: linear-gradient(25deg, #f7b733, #fc4a1a);
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.dogtrot-title {
	margin-bottom: 20px;
}

.dogtrot-title a {
	color: #FFF;
	font-weight: 200;
	text-decoration: none;
}
